@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  display: flex;
  overflow: auto;
  //   align-items: center;

  .menu-mobile {
    display: block;

    &-hidden {
      display: none;
    }
  }

  .btn-menu-wrapper {
    height: 68px;
    width: 100%;
    position: fixed;
    z-index: 998;
    align-items: center;
    padding: 0 12px;
    display: none;
    background-color: #fff;

    @include media-breakpoint-down(lg) {
      display: flex;
    }

    @include media-breakpoint-down(md) {
      display: flex;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
    }

    .btn-nav {
      width: 32px;
      height: 32px;
      border: 0;
      background-color: #fff;

      .menu-icon {
        width: 32px;
        height: 32px;
      }
    }
  }

  .navigation {
    position: fixed;
    left: 0px;
    height: 100%;
    width: 256px;
    background-color: #fff;
    transition: 0.3s;
    z-index: 999;

    @include media-breakpoint-down(lg) {
      transform: translateX(-100%);
    }
    @include media-breakpoint-down(md) {
      transform: translateX(-100%);
    }
    @include media-breakpoint-down(sm) {
      transform: translateX(-100%);
    }

    &-active {
      transform: translateX(0);
    }
  }

  .content {
    margin-left: 256px;
    width: 100%;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      width: 100%;
    }
  }
}

.wrapper:hover {
  cursor: none;
}
