@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Goudy+Bookletter+1911&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tilt+Neon&display=swap");

.wrapper {
  overflow: hidden;

  .search-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    position: fixed;
    z-index: 998;
    background-color: #fff;
    margin-left: -6%;

    @include media-breakpoint-down(lg) {
      margin-left: 20%;
      justify-content: start;
    }

    @include media-breakpoint-down(md) {
      margin-left: 70px;
      justify-content: start;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 70px;
      justify-content: start;
    }

    .search {
      width: 50%;
      height: 48px;
      border: 2px solid #e2e2e2;
      border-radius: 100rem;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
        width: 60%;
      }

      @include media-breakpoint-down(md) {
        width: 76%;
      }

      @include media-breakpoint-down(sm) {
        width: 76%;
      }

      .input-search {
        height: 100%;
        border: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 90%;
        font-family: "Goudy Bookletter 1911", serif;
        font-size: 16px;
        padding: 0 16px;
      }

      .input-search:focus {
        outline: none;
      }

      .btn-search {
        height: 100%;
        width: 10%;
        border: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-left: 1px solid #e2e2e2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        @include media-breakpoint-down(lg) {
          width: 16%;
        }

        @include media-breakpoint-down(md) {
          width: 16%;
        }

        @include media-breakpoint-down(sm) {
          width: 16%;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 80px 16px 16px 16px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    .loader-wrapper {
      grid-column: span 12;
      height: 72vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .loader {
        width: 50px;
        aspect-ratio: 1;
        display: grid;
      }
      .loader::before,
      .loader::after {
        content: "";
        grid-area: 1/1;
        --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
        background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
          var(--c) 0 50%;
        background-size: 12px 12px;
        animation: l12 1s infinite;
      }
      .loader::before {
        margin: 4px;
        filter: hue-rotate(45deg);
        background-size: 8px 8px;
        animation-timing-function: linear;
      }

      @keyframes l12 {
        100% {
          transform: rotate(0.5turn);
        }
      }
    }

    .video-item {
      grid-column: span 12;
      height: auto;

      @include media-breakpoint-down(lg) {
        grid-column: span 2;
      }

      @include media-breakpoint-down(md) {
        grid-column: span 1;
      }

      @include media-breakpoint-down(sm) {
        grid-column: span 1;
      }
    }
  }
}

:global {
  .icon {
    width: 24px;
    height: 24px;
  }
}
