@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.wrapper {
  .thumbnails-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .skeleton {
      background-color: #e0e0e0;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      animation: shimmer 1.5s infinite;
    }

    @keyframes shimmer {
      0% {
        background-position: -200px 0;
      }
      100% {
        background-position: 200px 0;
      }
    }

    .channel-wrapper {
      width: 100%;
      margin-top: 8px;

      .channel-info {
        width: 100%;
        display: flex;
        margin-top: 8px;

        .channel-image {
          width: 40px;
          height: 40px;
          img {
            border-radius: 100rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .title {
          width: 90%;
          display: inline-block;
          padding: 0 8px;

          h3 {
            font-weight: 600;
            font-size: 16px;
          }

          span {
            color: #606060;
            font-size: 16px;
            margin-top: 4px;
          }
        }
      }
    }

    .thumbnails-container {
      overflow: hidden;
      border-radius: 8px;

      .thumbnails {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: 0.3s;
      }
    }
  }

  .thumbnails-wrapper:hover {
    // cursor: none;

    .thumbnails {
      transform: scale(1.2);
      border-radius: 8px;
    }
  }
}
