@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .background {
    width: 40%;
    height: 100%;
    background-image: url(https://s.memehay.com/files/posts/20210523/nem-gach-chui-may-cut-di.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
