@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.wrapper {
  .skeleton {
    width: 320px;
    height: 176px;
    margin: 4px 0;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: flash 1.5s infinite;
    border-radius: 4px; /* Bo góc nếu cần */
  }

  @keyframes flash {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}
